<header>
  <h3>Getting Started</h3>
  <ul class="menu">
	<li><a href="/mithgrid/docs/">Main Page</a></li>
	<li><a href="/mithgrid/docs/downloading.html">Downloading MITHgrid</a></li>
	<li><a href="/mithgrid/docs/how-mithgrid-works.html">How MITHgrid Works</a></li>
	<li><a href="/mithgrid/docs/faq.html">FAQ</a></li>
	<li><a href="/mithgrid/docs/using-mithgrid-with-other-libraries.html">Using MITHgrid with Other Libraries</a></li>
  </ul>
  <h3>API Reference</h3>
  <ul class="menu">
	<li><a href="/mithgrid/docs/core/">MITHgrid Core</a></li>
	<li><a href="/mithgrid/docs/components/">Components</a></li>
	<li><a href="/mithgrid/docs/events/">Events</a></li>
	<li><a href="/mithgrid/docs/controllers/">Controllers</a></li>
	<li><a href="/mithgrid/docs/expressions/">Expressions</a></li>
	<li><a href="/mithgrid/docs/data-stores/">Data Stores</a></li>
	<li><a href="/mithgrid/docs/data-views/">Data Views</a></li>
	<li><a href="/mithgrid/docs/facets/">Facets</a></li>
	<li><a href="/mithgrid/docs/presentations/">Presentations</a></li>
	<li><a href="/mithgrid/docs/applications/">Applications</a></li>
	<li><a href="/mithgrid/docs/plugins/">Plugins</a></li>
  </ul>
</header>