html, body {
	background-color: #cccccc;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#header {
	margin-bottom: 0px;
	height: 42px;
	position: absolute;
	text-align: center;
	width: 100%;
	top: -20px;
	left: 0px;
}

#game {
	width: 830px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

#game > .room {
	width: 600px;
	padding-left: 3px;
	padding-right: 3px;
	background-color: #ffffff;
	float: left;
	height: 600px;
	overflow-y: scroll;
}

#game > .room > .description > .desc {
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	margin-bottom: 2px;
	margin-right: 5px;
	margin-left: 5px;
	padding: 10px;
}

#game > .room > .description ul {
	display: inline;
	margin: 0px;
	padding: 0px;
}

#game > .room > .description ul > li {
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}
#game > .room > .description ul > li:after {
	content: " ";
}

#game > .cli {
	clear: both;
	width: 600px;
}
#game > .cli > input {
	width: 600px;
}
#game > .room > .objects {
	
}

#game > .cli {
	
}

#game > .directions {
	
}

#game > .inventory-holder {
	width: 200px;
	height: 400px;
	margin-left: 20px;
	background-color: #ffffff;
	float: left;
}

#game > .inventory-holder > .inventory {
	list-style: none;
	margin-left: 3px;
	padding-left: 0px;
}

#game > .inventory-holder > h2 {
	text-align: center;
	margin: 0px;
	padding: 1px;
	margin-bottom: 3px;
	background-color: #eeeeee;
	border-bottom: 1px solid #cccccc;
}

#instructions {
	clear: both;
	width: 800px;
	background-color: #ffffff;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	border-top: 5px solid #cccccc;
}