html, body {
	background-color: #cccccc;
	padding: 0px;
	margin: 0px;
	/*overflow: hidden; */
}

#header {
	margin-bottom: 0px;
	height: 42px;
	position: absolute;
	text-align: center;
	width: 100%;
	top: -20px;
	left: 0px;
}

#game {
	width: 830px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

#game > .room {
	width: 600px;
	padding-left: 3px;
	padding-right: 3px;
	background-color: #ffffff;
	float: left;
	height: 600px;
	overflow-y: scroll;
}

#game > .room > .description > .desc {
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	margin-bottom: 2px;
	margin-right: 5px;
	margin-left: 5px;
	padding: 10px;
}

 p.info {
	margin-left: 30px;
	margin-right: 30px;
}

 p.error {
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #fff8f8;
	border: 1px solid #fff0f0;
}
.room > .description ul {
	display: inline;
	margin: 0px;
	padding: 0px;
}

.room > .description ul > li {
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}
.room > .description ul > li:after {
	content: " ";
}

 .cli {
	clear: both;
	width: 600px;
}
 .cli > input {
	width: 600px;
}
 .room > .objects {
	
}

.compass {
	width: 200px;
	height: 180px;
	background-color: #ffffff;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	font-weight: bold;
	font-size: 24px;
}

.compass > .n {
	text-align: center;
	width: 200px;
	display: block;
	margin-bottom: 24px;
}

.compass > .e {
	float: right;
	text-align: right;
}

.compass > .w {
	float: left;
	text-align: left;
}

.compass > .s {
	text-align: center;
	width: 200px;
	display: block;
	margin-top: 72px;
	margin-bottom: 24px;
}

.compass > .u {
	float: right;
	text-align: right;
}

.compass > .unavailable {
	color: #cccccc;
}

 .inventory-holder {
	width: 200px;
	height: 400px;
	margin-left: 20px;
	background-color: #ffffff;
	float: left;
}

 .inventory-holder > .inventory {
	list-style: none;
	margin-left: 3px;
	padding-left: 0px;
}

.inventory-holder > h2 {
	text-align: center;
	margin: 0px;
	padding: 1px;
	margin-bottom: 3px;
	background-color: #eeeeee;
	border-bottom: 1px solid #cccccc;
}

#instructions {
	clear: both;
	width: 800px;
	background-color: #ffffff;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	border-top: 5px solid #cccccc;
}